{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolve",{
                "root":"./",
                "alias":{
                    "@s":"./server"
                }
            }
        ]
    ]
}