<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     {{!-- importando normalize --}}
    <link rel='stylesheet' href='/vendor/materializecss/css/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/vendor/materializecss/js/materialize.min.js"></script>
    <script src="/javascripts/budle.js"></script>
  </body>
</html>
